/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    /* Debug */
    background-color: lightpink;
}

.col {
    height: 100%;
    /* Debug */
    border: 1px solid black;
}

.video {
    position: relative;
    width: 70%;
    background-image: url(../img/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
}

.player {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 3px solid red;
}

.player img {
    height: 60px;
}

.suggestions {
    padding: 1rem;
    width: 30%;
    overflow-y: auto;
}

.item {
    display: flex;
    justify-content: space-between;
}

.item-col {
    width: 49%;
}